<link rel="stylesheet" type="text/css" href="https://cdn.lynda.com/static/css/3p.min-1dfaabdd.css">
<link rel="stylesheet" type="text/css" href="https://cdn.lynda.com/static/signin/css/signin.min-74b33971.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_login_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">
<link rel="icon" href="../../static/passion-icon_p.png">

<script src=" {{ url_for('static', filename='js/show_password.js') }}"></script>

