{% extends 'layouts/login_layout.html' %}

{% block title %} Register • passion.com {% endblock %}

{% block header %} Register: {% endblock %}

{% block img_style %} style="position: fixed;" {% endblock %}

{%block main_div_style%} style="padding-bottom: 5px;" {% endblock %}

{% block labels %}
<label style="font-size: 18px">Name<span style="color: red;">*</span></label>
<input type="text" name="name" class="form-control" placeholder="Name" required autofocus>
<label style="font-size: 18px">Phone<span style="color: red;">*</span></label>
<input type="number" name="phone" placeholder="Phone number" class="form-control" required>

{% if company =='seera' %}
<label style="font-size: 18px">Email<span style="color: red;">*</span></label>
<input type="email" name="email" placeholder="John_Doe@seera.sa" class="form-control" required>
<input type="hidden" name="hrid" placeholder="HRID" class="form-control" >
<label style="font-size: 18px">SFID<span style="color: red;">*</span></label>
<input type="text" name="sfid" placeholder="SFID" class="form-control" required>
{%else%}
 <label style="font-size: 18px">Email</label>
<input type="email" name="email" placeholder="JohnDoe@company.com" class="form-control">
<input type="hidden" name="hrid" placeholder="HRID" class="form-control" hidden>
 
<input type="hidden" name="sfid" placeholder="SFID" class="form-control" >
{% endif %}
<label style="font-size: 18px">Password<span style="color: red;">*</span></label>
<input type="password" name="password" placeholder="Password" class="form-control" id="passwordlabel" required>
<label style="font-size: 18px">Confirm Password<span style="color: red;">*</span></label>
<input type="password" name="confirm" class="form-control" placeholder=" Confirm Password" id="confirmlabel" required>
{% endblock %}

{% block submit_button %} Submit {% endblock %}

{% block register_or_login %}
<a href="{% if company == 'passion' %} /login {% else %} /{{ company }}/login {% endif %}" style="font-size: 16px; font-family: sans-serif; margin-left: 307px; color: rgb(158,31,99); text-decoration: none;">
    <b class="c">Login</b>
</a>
{% endblock %}






