{% extends 'layouts/login_layout.html' %}

{% block title %} Reset Password • passion.com {% endblock %}

{% block header %} Reset password: {% endblock %}

{%block main_div_style%} style="padding-bottom: 5px;" {% endblock %}

{% block labels %}
<label style="font-size: 18px">Password</label>
<input type="password" name="password" class="form-control" id="passwordlabel" autofocus>
<label style="font-size: 18px">Confirm</label>
<input type="password" name="confirm" class="form-control" id="confirmlabel">
{% endblock %}

{% block submit_button %} Submit {% endblock %}